html, body {
    padding: 0;
    margin: 0;
    text-align: center;
}
.image-canvas {
    width: 800px;
    height: 500px;
    border: 1px solid #eee;
}

.tools button {
    font-size: 10px;
    margin-right: 5px;
}
